<div class="navi bg-black">
    <ul class="nav nav-tabs">
        <li class="line dk"></li>
        <li class="nav-li" routerLinkActive="aaa">

            <a routerLink="/app/message/SMSChart" href="javascript:void(0)" routerLinkActive="active" class="auto aaa">

                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-envelope icon"></i>
                <span>短信管理</span>
            </a>

            <ul class="nav nav-sub dk">
                <li class="nav-li">
                    <a class="auto" routerLink="/app/message/table" routerLinkActive="active">
                        <span>列表视图</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-li" routerLinkActive="aaa">

            <a routerLink="/app/liveData/msgChart" href="javascript:void(0)" routerLinkActive="active" class="auto aaa">

                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-comment icon"></i>
                <span>消息管理</span>

            </a>

            <ul class="nav nav-sub dk">
                <li class="nav-li lamyManage">

                    <a class="auto" routerLink="/app/liveData/table" routerLinkActive="active">

                        <span>列表视图</span>
                    </a>
                </li>
               

            </ul>

        </li>

        <li class="nav-li" routerLinkActive="aaa">
            <a routerLink="/app/position/table" href="javascript:void(0)" routerLinkActive="active" class="auto aaa">
      
                <i class="fa fa-location-arrow icon"></i>
                <span>基址管理</span>
            </a>

<!--
            <ul class="nav nav-sub dk">
                <li class="nav-li lamyManage">
                    <a class="auto" routerLink="baseaddress/baseaddressDetail/1" routerLinkActive="active">
                        <span>创建与编辑页面</span>
                    </a>
                </li>

            </ul>-->

        </li>

        <li class="nav-li" routerLinkActive="aaa">

            <a routerLink="/app/location/locationChart" href="javascript:void(0)" routerLinkActive="active" class="auto aaa">

                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-map-marker icon"></i>
                <span>定位管理</span>

            </a>

            <ul class="nav nav-sub dk">
                <li class="nav-li lamyManage">
                    <a class="auto" routerLink="/app/location/table" routerLinkActive="active">
                        <span>定位列表视图</span>
                    </a>
                </li>
                <li class="nav-li lamyManage">
                    <a class="auto" routerLink="/app/signup/table" routerLinkActive="active">
                        <span>注册列表视图</span>
                    </a>
                </li>
               

            </ul>
        </li>

        <li class="nav-li" routerLinkActive="aaa">
            <a routerLink="/app/ccpLogRecord/table" href="javascript:void(0)" routerLinkActive="active" class="auto aaa">
                <i class="glyphicon glyphicon-time icon"></i>
                <span>历史记录</span>
            </a>
        </li>


    </ul>

</div>