 <div class="form-area">

        
        <form id="form" name="step1"  class="form-validation form-horizontal" >
            
            <fieldset>
                <div class="form-group">
                   
                </div>
               
                <div class="form-group">
                    <label class="col-lg-2 control-label">发送时间:<span class="text-danger"></span></label>
                    <div class="col-lg-3">
                       
                        <span class="ld_detail">{{time}}</span>

                    </div>
                </div>
                
                 <div class="form-group">
                    <label class="col-lg-2 control-label">用户编号:<span class="text-danger"></span></label>
                    <div class="col-lg-3">
                       
                        <span class="ld_detail">{{userId}}</span>

                    </div>
                </div>
               <div class="form-group">
                    <label class="col-lg-2 control-label">数据编号:<span class="text-danger"></span></label>
                    <div class="col-lg-3">
                       
                        <span class="ld_detail">{{dataId}}</span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">消息类型:<span class="text-danger"></span></label>
                    <div class="col-lg-3">
                       
                        <span class="ld_detail">{{messageType}}</span>

                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-lg-2 control-label">是否送达:<span class="text-danger"></span></label>
                    <div class="col-lg-3">
                       
                        <span class="ld_detail">{{hasSended}}</span>

                    </div>
                </div>
              <div class="form-group">
                    <label class="col-lg-2 control-label">内容:<span class="text-danger"></span></label>
                    <div class="col-lg-3">
                       
                        <span class="ld_detail text-area">{{content}}</span>

                    </div>
                </div>
              

            </fieldset>
               
        </form>
    </div>